@import "nullstyle.scss";
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/gothampro.eot');
	src: local('☺'), url('../fonts/gothampro.woff') format('woff'), url('../fonts/gothampro.ttf') format('truetype'), url('../fonts/gothampro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/gothampro_bold.eot');
	src: local('☺'), url('../fonts/gothampro_bold.woff') format('woff'), url('../fonts/gothampro_bold.ttf') format('truetype'), url('../fonts/gothampro_bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/gothampro_medium.eot');
	src: local('☺'), url('../fonts/gothampro_medium.woff') format('woff'), url('../fonts/gothampro_medium.ttf') format('truetype'), url('../fonts/gothampro_medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelvetivaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'HelvetivaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelvetivaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelvetivaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'HelvetivaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body {
    font-family: 'HelvetivaNeueCyr';
    font-size: 17px;
    background: url(../img/bg_right.jpg)top right no-repeat,
}

@media (max-width: 1200px) {
    body {
        background: url(../img/bg_right768.jpg)top right no-repeat,
    }
}

@media (max-width: 767px) {
    body {
        background: url(../img/mobile/bg_right380.jpg)top right no-repeat,
    }
}

.wrapper { 
    background: url(../img/bg_left.jpg)left top no-repeat;
}

@media (max-width: 1500px) {
    .wrapper {
        background-position: left 480px;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        background: url(../img/bg_left768.jpg)left top no-repeat;
        background-position: left 758px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        background: url(../img/mobile/bg_left380.jpg)left top no-repeat;
        background-position: left 1300px;
    }
}

.header {
    max-width: 1435px;
    margin: 0 auto;
    position: relative;
}

.header__img_line {
    position: absolute;
    left: 50%;
    margin-left: -58px;
    width: 116px;
    height: 6px;
    background: #7044CC;
}

.header__container {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 73px;
}

.header__logo {
    margin-top: 8px;
}

.header__language {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    margin-top: 8px
}

.header__language_active {
    color: #650DF0;
    padding-bottom: 2px;
}

.header__language_active::after {
    background: url(../img/icons/lang_icon.svg) no-repeat scroll center center;
    content: "";
    height: 7px;
    position: absolute;
    left: 25px;
    top: 4px;
    width: 7px;
    padding: 3px 3px 3px 16px;
}

.header__language_btn {
    position: absolute;
    display: none;
    a {
        color: black;
        padding: 2px 0;
        text-decoration: none;
        display: block;
    }
}

.header__language_btn a:hover {
    color: #650DF0;
}

.header__language:hover .header__language_btn {
    display: block;
}

.header__menu {
    ul {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    li {
        margin: 0 13.5px 0 13.5px;
    }
    a {
        font-weight: 500;
        line-height: 160%;
        color: #000;
        transition: all 0.3s ease-in 0s;
    }
}

@media (max-width: 1100px) {
    .header__language_none {
        display: none;
    }
    .header__menu {
        display: none;
    }
}

.header__wrapper_burger {
    display: flex;
    justify-content: flex-end;
}

.header__burger_btn {
    width: 58px;
    height: 40px;
    position: relative;
    span {
        width: 39px;
        height: 4px;
        background-color: #fff;
        position: absolute;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header__burger_btn span:first-child {
    top: calc(50% - 10px);
}

.header__burger_btn span:nth-child(2) {
    width: 58px;
    height: 4px;
    left: calc(50% + 9.4px);
    border-radius: 4px;
}

.header__burger_btn span:nth-child(3) {
    top: calc(50% + 10px);
}

.header__burger{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 54px 30px;
    z-index: 1;
    transform: translateX(-100%);
}

.header__burger.active{
    transform: translateX(0);
}

.burger__header {
    display: flex;
    justify-content: space-between;
}

.burger__menu ul > li:nth-child(2) {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.burger__menu ul > li:nth-child(3) {
    border-bottom: 1px solid #E6E6E6;
}

.burger__menu {
    width: 247px;
    margin-top: 177px;
    margin-left: 20px;
    ul > li {
        padding: 17px 0;
    }
    a {
        color: #000;
        font-size: 25px;
        font-weight: 500;
        transition: all 0.3s;
    }
}

.burger__menu a:hover {
    color: #7044CC;
}

.burger__language {
    margin: 58px 0 74px 20px;
}

.header__wrapper_burger {
    display: none;
}

@media (max-width: 1100px) {
    .header__wrapper_burger {
        display: block;
    }
}

.burger__bnt {
    margin: 0 0 0 20px;
}

.header__menu a:hover {
    color: #7044CC;
}

.header__btn_reg {
    background-color: #7044CC;
    width: 302px;
    height: 74px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -22px;
    position: relative;
    a, p{
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        transition: all 0.3s ease-in 0s;
    }
    p {
       margin: 0 8px; 
    }
    img {
        margin-left: 14px;
    }
}

@media (max-width: 767px) {
    .header__btn_none {
        display: none;
    }
}

.header__btn_reg a:hover {
    color: #000;
}

.advertising {
    margin-top: 94px;
}

.container {
    max-width: 1114px;
    margin: 0 auto;
}

.advertising__title {
    h1 {
        font-size: 85px;
        font-weight: 700;
        line-height: 91.5%;
        color: #000;
        width: 723px;
    }
    p {
        margin-top: 17px;
        width: 565px;
        margin-bottom: 73px;
    }
    a {
        font-weight: 500;
        font-size: 15px;
        line-height: 231.5%;
        color: #7044CC;
        padding: 32px 109px 32px 47px ;
        border: 1px solid #7044CC;
        border-radius: 125px;
        background: #650DF0;
        background: url(../img/icons/title_btn.svg) center right 4px no-repeat;
    }
}

@media (max-width: 1200px) {
    .advertising__title {
        margin-left: 30px;
        h1 {
            font-size: 55px;
            line-height: 91.5%;
            max-width: 500px;
        }
    }
    .header__img_line {
        display: none;
    }
}

@media (max-width: 1100px) {
    .header__btn_none {
        margin-left: 20%;
    }
}

@media (max-width: 767px) {
    .advertising__title{
        h1 {
            font-size: 35px;
            max-width: 300px;
        }
        p {
            max-width: 340px;
            font-size: 15px;
        }
    }
}

.text {
    font-size: 17px;
    font-weight: 400;
    line-height: 160%;
    color: #677488;
}

.advantage {
    margin-top: 132px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .advantage {
        flex-direction: column;
    }
}

.advantage__item {
    width: 320px;
    min-height: 268px;
}

.advantage__namber {
    font-size: 55px;
    line-height: 123.84%;
    color: #7044CC;
    margin: 34px 60px 10px 60px;
}

.advantage__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 166.9%;
    max-width: 200px;
    margin:0 60px;
}

@media (max-width: 1000px) {
    .advantage { 
        div {
            width: 250px;
            min-height: 218px;
        }
    }
    .advantage__text {
        margin-left: 60px;
        margin-right: 14px;
    }
    .advantage__namber {
        font-size: 35px;
    }
}

.advantage__channel {
    background: #7044CC;
    p {
        color: #fff;
    }
}

@media (max-width: 767px) {
    .advantage__channel {
        background: none;
        p {
            color: #000;
        }
    }
    .advantage__channel p:first-child {
        color: #7044CC;
    }
    .advantage__text {
        font-size: 15px;
    }
}

.partners {
    margin-top: 100px;
}

@media (max-width: 767px) {
    .partners {
        margin-top: 228px;
    }
}

h2 {
    font-weight: 500;
    font-size: 55px;
    line-height: 99%;
    color: #7044CC;
    text-align: center;
}

@media (max-width: 767px) {
    h2 {
        font-size: 35px;
    }
}

.partners__title {
    max-width: 288px;
    max-height: 100%;
    margin: 0 auto;
}

.partners__items {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
        width: 245px;
        height: 143px;
        border: 1px solid #E1E1E1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .partners__items {
        display: flex;
        justify-content: center;
        div {
            width: 231px;
            height: 135px;
        }
    }
    .partners__yandex {
        margin: 0 12px 12px 12px;
    }
}

@media (max-width: 767px) {
    .partners__items {
        flex-direction: column;
        align-items: center;
    }
    .partners__yandex {
        margin: 23px 0;
    }
    .partners__master {
        margin: 25px 0 0 0;
    }
}

.how_it_works {
    margin-top: 175px;
}

@media (max-width: 767px) {
    .how_it_works {
        margin-top: 160px;
    }
}

h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 99%;
}

.how_it_works__items {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

.icon__number {
    margin-right: 35px;
}

@media (max-width: 767px) {
    .icon__number {
        margin-right: 20px;
    }
}

.registration__icon img:last-child {
    padding-top: 5px;
}

.registration__subtitle, .catalog__subtitle, .balance__subtitle {
    max-width: 300px;
    margin-top: 30px;
}

.registration__text {
    max-width: 450px;
    margin-right: 114px;
    a {
        font-weight: 500;
        font-size: 15px;
        line-height: 231.5%;
        text-transform: uppercase;
        color: #fff;
        padding: 14px 36px;
        background-color: #7044CC;
        border-radius: 100px;
    }
    p {
        margin-bottom: 36px;
    }
}

.how_it_works__wrapper {
    margin-top: 96px;
    height: 369px;
    width: 100%;
    background: #F7F7F7;
}

.catalog__text {
    margin-top: 79px;
}

.catalog__title {
    margin-top: 79px;
    margin-right: 282px;
}

.how_it_works__balance {
    margin-top: 79px;
}

.balance__text {
    margin-right: 244px;
}

.balance__text p:first-child {
    width: 320px;
    margin-bottom: 36px;
}

.balance__text p:nth-child(2) {
    width: 256px;
    margin-bottom: 52px;
    line-height: 160%;
}

.balance__img {
    display: flex;
    align-items: center;
    img {
        margin-right: 15px;
    }
}

@media (max-width: 1000px) {
    .how_it_works__items {
        margin: 79px 0 0 20px;
    }
    .registration__text {
        margin-right: 4px;
        max-width: 434px;
    }
    .catalog__title {
        margin-right: 172px;
    }
    .catalog__text {
        width: 244px;
    }
    .balance__text {
        margin-right: 120px;
    }
}

@media (max-width: 767px) {
    .how_it_works__items {
        flex-direction: column;
    }
    .how_it_works__catalog {
        flex-direction: column-reverse;
    }
    .how_it_works__wrapper {
        background: none;
    }
    .registration__text p {
        margin-top: 40px;
    }
    .catalog__text {
        margin-top: 40px;
    }
    .balance__text p:first-child {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .balance__text {
        margin: 0;
    }
}

.start_working {
    margin-bottom: 155px;
}

.start_working__title {
    width: 520px;
    margin: 0 auto;
    margin-top: 120px;
}

@media (max-width: 767px) {
    .start_working__title {
        width: 250px;
    }
}


.start_working__advantage {
    display: flex;
    flex-wrap: wrap;
    margin-top: 98px;
}

.start_working__advertising {
    text-align: center;
    width: 384px;
    height: 384px;
    border: 1px dashed #7044CC;
    border-radius: 50%;
    padding-top: 130px;
    margin-left: 15.5%;
}


.start_working__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 99%;
    color: #7044CC;
    margin-bottom: 22px;
}

.start_working__text_advertising {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

.start_working__admin {
    text-align: center;
    width: 384px;
    height: 384px;
    border: 1px dashed #7044CC;
    border-radius: 50%;
    padding-top: 130px;
    margin-left: -1.5%;
}

.start_working__text_admin {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

.start_working__agency {
    text-align: center;
    width: 384px;
    height: 384px;
    border: 1px dashed #7044CC;
    border-radius: 50%;
    padding-top: 130px;
    margin-left: 32.25%;
    margin-top: -6%;
}

@media (max-width: 1024px) {
    .start_working__advertising {
        margin-left: 14%;
    }
}

@media (max-width: 915px) {
    .start_working__advertising {
        margin-left: 100px;
    }
    .start_working__agency {
        margin-left: 283px;
    }
}

@media (max-width: 856px) {
    .start_working__advertising {
        margin-left: 10px;
    }
    .start_working__agency {
        margin-left: 196px;
        margin-top: -8%;
    }
}

@media (max-width: 767px) {
    .start_working__advantage {
        flex-direction: column;
        align-items: center;
    }
    .start_working__advertising {
        margin: 0;
        width: 344px;
        height: 344px;
    }
    .start_working__admin {
        margin: -40px;
        width: 344px;
        height: 344px;
    }
    .start_working__agency {
        margin: 0;
        width: 344px;
        height: 344px;
    }
}

.start_working__text_agency {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

.line {
    margin: 0 auto;
    border-top: 2px solid #7044CC;
    width: 50px;
}

.registration {
    background: url(../img/backgraund.jpg)center no-repeat;
    max-width: 100%;
    height: 369px;
    margin-bottom: 89px;
}

@media (max-width: 769px) {
    .registration {
        background: url(../img/mobile/backgraund380.jpg)center no-repeat;
        height: 527px;
    }
}

h4 {
    font-weight: 500;
    font-size: 55px;
    line-height: 34px;
    color: #fff;
}


@media (max-width: 1000px) {
    h4 {
        font-size: 35px;
    }
}

.registration__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 137px 213px 0 20px;
}

@media (max-width: 1000px) {
    .registration__wrapper {
        padding: 137px 40px 0 20px;
    }
} 

.registation__subtitle {
    p {
        font-size: 17px;
        line-height: 160%;
        color: #fff;
        width: 315px;
        margin-bottom: 36px;
    }
    a {
        font-weight: 500;
        font-size: 15px;
        line-height: 231.5%;
        color: #fff;
        padding: 10px 30px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 100px;
    }
}

@media (max-width: 768px) {
    .registration__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .registation__subtitle {
        margin-left: 15px;
        margin-top: 23px;
        text-align: center;
    }
    .registation__subtitle p {
        font-size: 15px;
    }
    .registation__title h4 {
        margin-top: 54px;
        margin-left: 15px;
    }
}

.questions__wrapper {
    max-width: 1435px;
    height: 626px;
    margin: 0 auto;
    background: #EEF4FD url(../img/questions/bg_questions.jpg)left no-repeat ;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1330px) {
    .questions__wrapper {
        background-position: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .questions__wrapper {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .questions__wrapper {
        background: url(../img/mobile/bg_questions380.jpg)center no-repeat;
        height: 527px;
    }
}

.questions__title {
    margin: 220px 0 0 180px;
    width: 300px;
    h4 {
        line-height: 64px;
        margin-bottom: 30px;
    }
    a {
        font-family: 'Gotham Pro';
        font-size: 18px;
        line-height: 34px;
        color: #fff;
    }
}

@media (max-width: 1330px) {
    .questions__title {
        margin: 56px auto;
        width: 300px;
        h4 {
            padding-top: 182px;
        }
    }
}

@media (max-width: 1000px) {
    .questions__title {
        width: 372px;
    }
}

@media (max-width: 767px) {
    .questions__title {
        width: 280px;
        h4 {
            padding-top: 140px;
            line-height: 34px;
        }
    }
    .questions__title a {
        padding-top: 85px;
    }
    .registration {
        margin-bottom: 20px;
    }
}

.questions__social_media {
    margin: 155px 112px 0 0;
    a {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
    }
}

@media (max-width: 1330px) {
    .questions__social_media {
        margin: 300px auto;
    }
}

@media (max-width: 767px) {
    .questions__social_media {
        margin: 150px auto;
    }
}

.questions__item {
    a {
        display: block;
        text-align: center;
        padding: 42px;
        margin-right: 8px;
    }
}

.questions__vk {
    width: 469px;
    height: 99px;
    border: #A5A5A5 solid;
    a {
        background: url(../img/questions/vk.svg)right no-repeat;
    }
}

.questions__facebook {
    width: 469px;
    height: 99px;
    border: #A5A5A5 solid;
    margin: 18px 0;
    a {
        background: url(../img/questions/fb.svg)right no-repeat;
    }
}

.questions__telegram {
    width: 469px;
    height: 99px;
    border: #A5A5A5 solid;
    a {
        background: url(../img/questions/tg.svg)right no-repeat;
    }
}

.footer__wrapper {
    margin: 194px 112px 0 23px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1330px) {
    .footer__wrapper {
        margin: 890px 112px 0 23px;
    }
}

@media (max-width: 1330px) {
    .footer__wrapper {
        margin: 890px 31px 0 23px;
    }
}

@media (max-width: 767px) {
    .footer__wrapper {
        flex-direction: column;
        margin: 500px 31px 100px 23px;
    }
    .questions__vk{
        width: 340px;
    }
    .questions__facebook {
        width: 340px;
    }
    .questions__telegram {
        width: 340px;
    }
    .questions__item a {
        padding: 40px 76px 40px 0;
    }
}

.footer__navigation {
    a {
        font-size: 17px;
        color: #677488;
    }
    li {
        margin-bottom: 42px;
    }
}

.footer__navigation li:last-child {
    margin-bottom: 82px;
}

.footer__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 99%;
    color: #7044CC;
    margin-bottom: 62px;
}

.footer__contacts {
    a {
        font-weight: 300;
        font-size: 45px;
        line-height: 34px;
        text-decoration: underline;
        color: #7044CC;
    }
}

@media (max-width: 767px) {
    .footer__contacts {
        a {
            font-size: 25px;
        }
    }
}

.footer__line {
    margin-left: 23px;
    margin-right: 20px;
    max-width: 975px;
    height: 1px;
    background: #CECECE;
}


.footer__copyright {
    margin: 82px 20px 0 23px;
    padding-bottom: 178px;
    max-width: 978px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
        font-weight: 500;
        font-size: 17px;
        line-height: 160%;
    }
}

